.container {
  height: 100vh;
}

.containerItem:first-child {
  .leftItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50vh;
    transform: translateY(-50%);
    width: 100%;
    h1 {
      margin-top: 0;
      font-size: 90px;
      font-weight: 900;
      margin-bottom: 24px;
      line-height: 1;
    }

    p {
      margin-top: 0;
      font-weight: 600;
    }
  }
}


.containerItem:last-child {
  text-align: center;

  .rightItemContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    padding: 0 10%;

    .uploadImageButton {
      border-radius: 50%;
      height: 205px;
      opacity: .85;
      width: 205px;
      background: radial-gradient(49.3% 49.3% at 30.99% 22.54%, rgba(0, 255, 209, 0.2) 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(0deg, #027A6A 0.39%, #07C7B1 100%);
      margin-bottom: 37px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;

      span {
        font-size: 60px;
      }
    }

    .infoBeforeUpdload {
      padding: 47px;
    }

    .itemTitle {
      color: #fff;
      font-size: 20px;
      max-width: 508px;
    }

    .progressStepsContainer {
      color: #11ffe0;
      max-width: 374px;
      margin-top: 80px;
      margin-bottom: 67px;

      .progressStep {
        height: 47px;
        width: 47px;
        border: 2px solid;
        font-size: 25px;
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: 600;
        transition: opacity 1s ease-out;

        &:before {
          content: "шаг";
          position: absolute;
          font-size: 13px;
          bottom: -23px;
        }
      }

      .progressMessage {
        font-size: 14px;
      }
    }

    .textArea {
      background: linear-gradient(0deg, rgba(2, 122, 106, 0.17) 0.39%, rgba(7, 199, 177, 0.17) 100%), rgba(255, 255, 255, 0.08);
      border-radius: 20px;
      resize: none;
      color: #74DAB5;
      outline: none;
      border: none;
      padding: 11px 16px;
      font-family: 'Montserrat';
      box-shadow: 0 0.5rem 1rem 0 #039b7f;
      font-size: 16px;
      width: 100% !important;
      max-width: 374px;
      margin-bottom: 37px;
      transition: opacity .3s ease-out;
    }


    .submitLinksButton {
      max-width: 169px;
      position: relative;
      width: 100%;
      margin: 0 auto;
      background: linear-gradient(2.97deg, #027A6A -19.33%, #07C7B1 97.54%);
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      outline: none;
      padding: 16px;
      font-size: 14px;
      color: #fff;
      transition: opacity .3s ease-out;
    }
  }
}

.notActive {
  opacity: .2;
}

.hide {
  visibility: hidden;
}
